---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-2xl font-bold">Astro</h1>
    <Button>Hello World</Button>
    <Button variant={"secondary"}>Hello World</Button>
  </main>
</Layout>
