---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro"
import RecentFlyers from "@/components/home/RecentFlyers.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { type IMeetup } from "@/lib/interfaces";
import Summary from "@/components/home/Summary.astro";

const { data: meetups } = await loadQuery<IMeetup[]>({
  query: "*[_type == 'meetup'] | order(meetupDate desc){_id, title, image, slug} [0..3]",
});

---

<Layout title="Welcome to Astro.">
  <main class="layout">
    <Hero />
    <RecentFlyers meetups={meetups}/>
    <Summary />
  </main>
</Layout>
