---
import TypographyH2 from "../ui/TypographyH2.astro";
import HighlightImages from "../ui/HighlightImages.astro";
---

<section class="py-10">
    <TypographyH2 title="Follow Us!" />
    <HighlightImages />
</section>