---
import TypographyH2 from "../ui/TypographyH2.astro";
---
<section class="py-10">
    <TypographyH2 title="What We’re About" />
    <p class='text-slimSilver lg:text-lg lg:px-48 mx-auto lg:py-10'>
      The first non-traditional skateboarding group (We welcome all wheels as
      well!) for all skill levels in Santa Ana who host monthly meet ups in
      the surrounding SoCal area. We aim to provide thriving safe spaces for
      skaters who identify as female, queer, trans and/or nonbinary. Come
      skate with us!
    </p>
  </section>
