---
import { SEO } from "astro-seo";
interface Props {
  title: string;
  description: string;
  basicUrl: string;
  canonical: string;
}

const { title, description, basicUrl, canonical } = Astro.props;

import Navbar from "@/components/layout/Navbar.astro";
import Footer from "@/components/layout/Footer.astro";
import "@fontsource/poppins";
import "@fontsource/erica-one";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          url: basicUrl,
          image:
            "https://res.cloudinary.com/dzhengjen/image/upload/v1707594527/assets/logos/og-sk8nmeet_px9f4p.png",
        },
        image: {
          url: "https://res.cloudinary.com/dzhengjen/image/upload/v1707594527/assets/logos/og-sk8nmeet_px9f4p.png",
          type: "image/png",
          width: 1600,
          height: 630,
          alt: "Sk8NMeet Santana Logo",
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        title: title,
        description: description,
        image:
          "https://res.cloudinary.com/dzhengjen/image/upload/v1707594527/assets/logos/og-sk8nmeet_px9f4p.png",
        imageAlt: "Sk8NMeet Santana Logo",
        card: "summary_large_image",
      }}
    />
    <link
      rel='icon'
      type='image/png'
      href='/favicon/favicon-96x96.png'
      sizes='96x96'
    />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' type='image/svg+xml' href='/favicon/favicon.svg' />
    <link rel='shortcut icon' href='/favicon/favicon.ico' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/apple-touch-icon.png'
    />
    <meta name='apple-mobile-web-app-title' content='Sk8NMeet Santana' />
    <link rel='manifest' href='/favicon/site.webmanifest' />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
